.skills{
    min-height: 25vh;
}

@media (min-width: 2600px) {
    .col-xl-2.col-lg-3{
        font-size:30px;
        
    }
  }
@media (max-width: 2600px) {
    .col-xl-2.col-lg-3{
        width:17%;
        font-size:27px;
    }
  }
  @media (max-width: 1900px) {
    .col-xl-2.col-lg-3{
        width:30%
    }
  }

  @media (min-width: 1200px) {
    .col-xl-6.col-lg-10{
        width:65%;
        
    }
  }

  @media (max-width: 660px) {
    .col-xl-2.col-lg-3{
        width:40%;
    }
  }


  @media (max-width: 850px) {
    .col-xl-2.col-lg-3{
       font-size: 23px;
    }
  }
  @media (min-width: 490px) {

    img{
        width:25px;
        height:25px;
    }
  }
  @media (max-width: 490px) {
    .col-xl-2.col-lg-3{
        width:45%;
        font-size: 20px;
    }
    img{
        width:20px;
        height:20px;
    }
  }
  @media (max-width: 390px) {
    .col-xl-2.col-lg-3{
        width:45%;
        font-size: 15px;
    }
  }


  @media (max-width: 340px) {
    .col-xl-2.col-lg-3{
        width:40%;
        font-size: 12px;
    }
  }

  @media (max-width: 280px) {
    .col-xl-2.col-lg-3{
        width:80%;
        font-size: 12px;
    }
  }